<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Json</title>
</head>
<body>
    <div class="tab">
        <a href="/" class="tablinks" >Cars Json</a>
        <a href="/xml" class="tablinks" >Cars Xml</a>
        <a href="/csv" class="tablinks" >Cars Csv</a>
    </div>
    <br>
    <div class="json">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <% for(let i = 0; i < cars.length; i++) { %>
                <tr>
                    <td><%= cars[i].Name %></td>
                    <td><%= cars[i].Price %></td>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>